#map{
  width: 100%;
  // transition: 500ms ease-in-out;
}

.mapBtn{
  display: table;
  width: 100%;
  // height: 90px;
  @include sp{
    height: 54px;
  }
  &_item{
    vertical-align: bottom;
    display: table-cell;
    position: relative;
    width: 50%;
    text-align: center;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:first-child{
      background: #47A800;
      &:before{
        background: rgba(#47A800,0.8);
      }
      &.active{
        &:before{
          display: none;
        }
      }
    }
    &:last-child{
      background: #47A800;
      border-left: 1px solid #6FB64A;
      &:before{
        background: rgba(#47A800,0.8);
      }
      &.active{
        &:before{
          display: none;
        }
      }
    }
    img{
      width: 100%;
      max-width: 240px;
      height: auto;
    }
  }
}

.listContainer{
  display: none;


  background: #fff;
  // position:absolute;
  right: 0;
  color: #000;
  width: 100%;
  z-index: 150;
  overflow: hidden;
  &_over{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.listContainerMain{
  li{
    color: #000;
    border-top: 1px solid #ddd;
    &:first-child{
      border-top: none;
    }
  }
  a{
    color: #000;
    &:hover{
      text-decoration: none;
    }
  }
  &_item{
    display: table;
    padding: 15px 10px;
    width: 100%;
  }
  &_icon{
    display: table-cell;
    width: 40px;
    vertical-align: top;
    img{
      width: 30px;
      height: auto;
    }
  }
  &_blank{
    text-align: center;
    margin-top: 6%;
      img{
      width: 48%;
      height: auto;
    }
  }
  &_data{
    vertical-align: top;
    display: table-cell;
    position: relative;
    &-day{
      font-size: 1.4rem;

    }
    &-title{
      font-size: 1.4rem;
    }
    &-info{
      display: none;
      line-height: 1.4;
      color: #A9A9A9;
      font-size: 1.4rem;
      span{
      }
    }
    &-pic{
      width: 52px;
      height: 52px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 5px;
    }
  }
}

.changeBtn{
  position: absolute;
  text-align: center;
  // bottom: 67px;
  // @include sp{
  //   bottom: 60px;
  // }
  z-index: 100;
  width: 60px;
  height: 60px;
  background: $sub-theme-color-blue;
  box-shadow: inset 0px -5px 3px 0px rgba(#000,0.1);
  img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
  }
  &-layer{
    left: 0;
    border-radius: 0 10px 0 0;

  }
  &-position{
    right: 0;
    border-radius: 10px 0 0 0;
  }
}


