@charset "UTF-8";
.alignC { text-align: center; }

.alignR { text-align: right; }

.alignL { text-align: left; }

.valignT { vertical-align: top; }

.valignM { vertical-align: middle; }

.valignB { vertical-align: bottom; }

.mt0 { margin-top: 0px !important; }

.mt5 { margin-top: 5px !important; }

.mt10 { margin-top: 10px !important; }

.mt15 { margin-top: 15px !important; }

.mt20 { margin-top: 20px !important; }

.mt30 { margin-top: 30px !important; }

.mt30 { margin-top: 30px !important; }

.mt40 { margin-top: 40px !important; }

.mt40 { margin-top: 40px !important; }

.mt50 { margin-top: 50px !important; }

.mb0 { margin-bottom: 0px !important; }

.mb5 { margin-bottom: 5px !important; }

.mb10 { margin-bottom: 10px !important; }

.mb15 { margin-bottom: 15px !important; }

.mb20 { margin-bottom: 20px !important; }

.mb25 { margin-bottom: 25px !important; }

.mb30 { margin-bottom: 30px !important; }

.mb35 { margin-bottom: 35px !important; }

.mb40 { margin-bottom: 40px !important; }

.mb45 { margin-bottom: 45px !important; }

.mb50 { margin-bottom: 50px !important; }

.mb60 { margin-bottom: 60px !important; }

.mb70 { margin-bottom: 70px !important; }

.mb80 { margin-bottom: 80px !important; }

.mb90 { margin-bottom: 90px !important; }

.mr10 { margin-right: 10px !important; }

.mr20 { margin-right: 20px !important; }

.mr30 { margin-right: 30px !important; }

.mr40 { margin-right: 40px !important; }

.mr50 { margin-right: 50px !important; }

.ml10 { margin-left: 10px !important; }

.ml20 { margin-left: 20px !important; }

.ml30 { margin-left: 30px !important; }

.ml40 { margin-left: 40px !important; }

.ml50 { margin-left: 50px !important; }

.pt10 { padding-top: 10px !important; }

.pt15 { padding-top: 15px !important; }

.pt20 { padding-top: 20px !important; }

.pt25 { padding-top: 25px !important; }

.pt30 { padding-top: 30px !important; }

.pt40 { padding-top: 40px !important; }

.pt50 { padding-top: 50px !important; }

.pt60 { padding-top: 60px !important; }

.pt80 { padding-top: 80px !important; }

.pb0 { padding-bottom: 0px !important; }

.pb5 { padding-bottom: 5px !important; }

.pb10 { padding-bottom: 10px !important; }

.pb15 { padding-bottom: 15px !important; }

.pb20 { padding-bottom: 20px !important; }

.pb25 { padding-bottom: 25px !important; }

.pb30 { padding-bottom: 30px !important; }

.pb40 { padding-bottom: 40px !important; }

.pb50 { padding-bottom: 50px !important; }

.pl5 { padding-left: 5px !important; }

.pl10 { padding-left: 10px !important; }

.pl15 { padding-left: 15px !important; }

.pl20 { padding-left: 20px !important; }

.pr5 { padding-right: 5px !important; }

.pr10 { padding-right: 10px !important; }

.pr15 { padding-right: 15px !important; }

.pr20 { padding-right: 20px !important; }

/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ff9; color: #000; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

img { vertical-align: top; font-size: 0; line-height: 0; }

html { background: #FAFAFA; }

body { font-size: 62.5%; color: #000; font-family: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; background: #FAFAFA; }

@media (min-device-width: 0px) and (max-device-width: 767px) { html { font-size: 62.5%; }
  body { min-width: initial; font-size: 1.3rem; width: 100%; min-width: 320px; -webkit-text-size-adjust: 100%; } }

.bodyNoScloll { overflow: hidden; height: 100%; }

.bodyNoScloll body { overflow: hidden; height: 100%; }

/* ========================================================================== Base styles: opinionated defaults ========================================================================== */
button, input, select, textarea { color: #000; outline: none; }

button { cursor: pointer; }

/* Remove text-shadow in selection highlight: h5bp.com/i These selection rule sets have to be separate. Customize the background color to match your design. */
::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

/* Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440 */
audio, canvas, img, video { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

a:link, a:visited, a:active { color: #439C13; text-decoration: none; }

a:hover { text-decoration: underline; }

@media (min-device-width: 0px) and (max-device-width: 767px) { a:hover { text-decoration: none; } }

p { margin: 0 0 1em; }

label, input[type=submit] { cursor: pointer; }

*, *:before, *:after { box-sizing: border-box; }

a:hover img.over { opacity: 0.8; filter: alpha(opacity=80); -ms-filter: "alpha(opacity=80)"; cursor: pointer; }

/* Container ----------------------------------------------------------- */
.largeContainer { width: 640px; height: auto; margin: 0 auto; font-size: 130%; line-height: 1.6; position: relative; overflow: hidden; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .largeContainer { width: auto; height: auto; min-height: 440px; font-size: 1.5rem; } }

.container { width: 1000px; margin: 0 auto; position: relative; }

.container:after { content: ""; display: table; clear: both; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .container { width: auto; margin: 0 auto; position: relative; font-size: 1.3rem; line-height: 1.4; }
  .container:after { content: ""; display: table; clear: both; } }

.footerCopy { background: #FAFAFA; border-top: 1px solid #DDDDDD; padding: 10px 0 10px 10px; color: #BABABA; font-size: 1.1rem; }

.staticHeaderContainer { position: fixed; top: 0; left: 0; right: 0; width: 640px; margin: auto; z-index: 100; background: rgba(250, 250, 250, 0.8); }

@media (min-device-width: 0px) and (max-device-width: 767px) { .staticHeaderContainer { width: auto; } }

.gnavMenuBtn { cursor: pointer; background: #339F3B; width: 55px; height: 55px; position: absolute; z-index: 200; right: 0; top: 0; }

.gnavMenuBtn .inner { width: 30px; height: 51px; margin: auto; position: relative; overflow: hidden; }

.gnavMenuBtn span { -webkit-transition: width 0.2s, right 0.2s, left 0.2s; transition: width 0.2s, right 0.2s, left 0.2s; width: 100%; height: 4px; display: block; background: #fff; position: absolute; top: 50%; }

.gnavMenuBtn .top { -webkit-transform: translateY(-10px); transform: translateY(-10px); left: 0; }

.gnavMenuBtn .middle { -webkit-transform: translateY(0px); transform: translateY(0px); position: relative; background: none; }

.gnavMenuBtn .middle:before, .gnavMenuBtn .middle:after { content: ""; -webkit-transition: all 0.2s; transition: all 0.2s; display: block; position: absolute; width: 100%; height: 4px; left: 0; background: #fff; -webkit-transform: rotate(0deg); transform: rotate(0deg); }

.gnavMenuBtn .bottom { -webkit-transform: translateY(10px); transform: translateY(10px); right: 0; }

.gnavMenuBtn.is-open .top { width: 0px; }

.gnavMenuBtn.is-open .middle:before { -webkit-transform: rotate(135deg); transform: rotate(135deg); }

.gnavMenuBtn.is-open .middle:after { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.gnavMenuBtn.is-open .bottom { right: -100%; width: 0px; }

.gnavMenu { position: absolute; width: 100%; height: auto; right: -130%; z-index: 1500; -webkit-transition: all .25s; transition: all .25s; -webkit-transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); }

.gnavMenu .layerBg { background: rgba(51, 159, 59, 0.7); top: 0; right: 0; }

.gnavMenu.is-open { right: 0; }

.gnavMenu_copy { border-top: 1px solid #DDDDDD; font-size: 1rem; color: #B8B8B8; padding: 10px 0 10px 5px; }

.layerBg { position: absolute; top: 0; width: 100%; z-index: 100; display: block; }

.gnavMenuContainer { background: #fff; position: absolute; top: 0; width: 78%; z-index: 150; right: 0; }

.gnavMenuContainer_over { overflow-y: auto; -webkit-overflow-scrolling: touch; }

.gnavMenuContainer_inner { overflow-y: auto; width: 100%; padding-bottom: 50px; }

.gnavMenuContainer_icon { text-align: center; }

.gnavMenuContainer_icon img { width: 70%; max-width: 250px; }

.gnavMenuContainer_list li { border-top: 1px solid #ddd; }

.gnavMenuContainer_list a { font-size: 18px; display: block; padding: 15px 10px; }

.gnavMenuContainer_list img { width: 17px; height: auto; display: inline-block; margin-right: 7px; vertical-align: -2px; }

.gnavMenuContainer_close { background: #fff; position: absolute; width: 55px; height: 55px; z-index: 600; top: 5px; left: -55px; margin: auto 0; border-radius: 5px 0 0 5px; }

.gnavMenuContainer_close::after { display: block; content: ''; position: absolute; top: 0; bottom: 0; right: 25px; margin: auto; width: 16px; height: 16px; border-right: 2px solid #439C13; border-bottom: 2px solid #439C13; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.layerContainer { position: absolute; width: 100%; top: 0; left: -100%; z-index: 1000; -webkit-transition: left .3s; transition: left .3s; -webkit-transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); }

.layerContainer .layerBg { top: 0; left: 0; background: rgba(41, 85, 233, 0.7); -webkit-transition-duration: .1s; transition-duration: .1s; -webkit-transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); }

.layerContainer_main { background: #fff; position: absolute; top: 0; left: 0; width: 78%; z-index: 190; padding-bottom: 30px; -webkit-transition-duration: .3s; transition-duration: .3s; -webkit-transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); }

.layerContainer.is-open { left: 0; }

.layerContainer_inner { overflow-y: auto; width: 100%; padding-bottom: 50px; }

.layerContainer_over { overflow-y: auto; -webkit-overflow-scrolling: touch; }

.layerContainer_close { background: #fff; position: absolute; width: 55px; height: 55px; z-index: 800; top: 5px; right: -55px; margin: auto 0; border-radius: 0px 5px 5px 0; }

.layerContainer_close::after { display: block; content: ''; position: absolute; top: 0; bottom: 0; right: 15px; margin: auto; width: 16px; height: 16px; border-right: 2px solid #2955E9; border-bottom: 2px solid #2955E9; -webkit-transform: rotate(135deg); transform: rotate(135deg); }

.layerContainerList dt { padding: 10px 0 10px 10px; color: #2955E9; font-size: 2rem; }

.layerContainerList dd li { border-top: 1px solid #DDDDDD; }

.layerContainerList dd li:last-child { border-bottom: 1px solid #DDDDDD; }

.layerContainerList dd li label { padding: 10px 0 10px 20px; display: block; }

.layerContainerList dd li input { -moz-transform-origin: right bottom; -moz-transform: scale(1.5, 1.5); -webkit-transform-origin: right bottom; -webkit-transform: scale(1.5, 1.5); }

.areaContainer { position: absolute; width: 100%; top: 0; right: -130%; z-index: 1000; -webkit-transition: all .3s; transition: all .3s; -webkit-transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); }

.areaContainer .layerBg { top: 0; right: 0; background: rgba(41, 85, 233, 0.7); -webkit-transition-duration: .1s; transition-duration: .1s; -webkit-transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); }

.areaContainer_main { background: #fff; position: absolute; top: 0; right: 0; width: 78%; z-index: 190; padding-bottom: 30px; -webkit-transition-duration: .3s; transition-duration: .3s; -webkit-transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); transition-timing-function: cubic-bezier(0.52, 0.47, 0, 0.98); }

.areaContainer.is-open { right: 0; }

.areaContainer_inner { overflow-y: auto; width: 100%; padding-bottom: 50px; }

.areaContainer_over { overflow-y: auto; -webkit-overflow-scrolling: touch; }

.areaContainer_close { background: #fff; position: absolute; width: 55px; height: 55px; z-index: 800; top: 5px; left: -55px; margin: auto 0; border-radius: 5px 0 0 5px; }

.areaContainer_close::after { display: block; content: ''; position: absolute; top: 0; bottom: 0; right: 25px; margin: auto; width: 16px; height: 16px; border-right: 2px solid #2955E9; border-bottom: 2px solid #2955E9; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.areaContainerList dt { padding: 10px 0 10px 10px; color: #2955E9; font-size: 2rem; }

.areaContainerList dd li { border-top: 1px solid #DDDDDD; }

.areaContainerList dd li:last-child { border-bottom: 1px solid #DDDDDD; }

.areaContainerList dd a { color: #000; display: block; padding: 10px 0 10px 20px; }

/* image light box
----------------------------------------------:*/
#imagelightbox { cursor: pointer; position: fixed; z-index: 10000; -ms-touch-action: none; touch-action: none; /* 50 */ box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75); /* 50 */ }

/* ACTIVITY INDICATION */
#imagelightbox-loading, #imagelightbox-loading div { border-radius: 50%; }

#imagelightbox-loading { width: 2.5em; /* 40 */ height: 2.5em; /* 40 */ background-color: #444; background-color: rgba(0, 0, 0, 0.5); position: fixed; z-index: 10003; top: 50%; left: 50%; padding: 0.625em; /* 10 */ margin: -1.25em 0 0 -1.25em; /* 20 */ /* 40 */ box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75); /* 40 */ }

#imagelightbox-loading div { width: 1.25em; /* 20 */ height: 1.25em; /* 20 */ background-color: #fff; -webkit-animation: imagelightbox-loading .5s ease infinite; animation: imagelightbox-loading .5s ease infinite; }

@-webkit-keyframes imagelightbox-loading { from { opacity: .5;
    -webkit-transform: scale(0.75); }
  50% { opacity: 1;
    -webkit-transform: scale(1); }
  to { opacity: .5;
    -webkit-transform: scale(0.75); } }

@keyframes imagelightbox-loading { from { opacity: .5;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  50% { opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  to { opacity: .5;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); } }

/* OVERLAY */
#imagelightbox-overlay { background-color: #fff; background-color: rgba(255, 255, 255, 0.9); position: fixed; z-index: 9998; top: 0; right: 0; bottom: 0; left: 0; }

/* "CLOSE" BUTTON */
#imagelightbox-close { width: 2.5em; /* 40 */ height: 2.5em; /* 40 */ text-align: left; background-color: #666; border-radius: 50%; position: fixed; z-index: 10002; top: 2.5em; /* 40 */ right: 2.5em; /* 40 */ border: none; -webkit-transition: color .3s ease; transition: color .3s ease; }

#imagelightbox-close:hover, #imagelightbox-close:focus { background-color: #111; }

#imagelightbox-close:before, #imagelightbox-close:after { width: 2px; background-color: #fff; content: ''; position: absolute; top: 20%; bottom: 20%; left: 50%; margin-left: -1px; }

#imagelightbox-close:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

#imagelightbox-close:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

/* CAPTION */
#imagelightbox-caption { text-align: center; color: #fff; background-color: #666; position: fixed; z-index: 10001; left: 0; right: 0; bottom: 0; padding: 0.625em; /* 10 */ font-size: 150%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { #imagelightbox-caption { font-size: 1.5rem; } }

/* NAVIGATION */
#imagelightbox-nav { background-color: #444; background-color: rgba(0, 0, 0, 0.5); border-radius: 20px; position: fixed; z-index: 10001; left: 50%; bottom: 3.75em; /* 60 */ padding: 0.313em; /* 5 */ -webkit-transform: translateX(-50%); transform: translateX(-50%); }

#imagelightbox-nav button { width: 1em; /* 20 */ height: 1em; /* 20 */ background-color: transparent; border: 1px solid #fff; border-radius: 50%; display: inline-block; margin: 0 0.313em; /* 5 */ }

#imagelightbox-nav button.active { background-color: #fff; }

/* ARROWS */
.imagelightbox-arrow { width: 25px; /* 60 */ height: 40px; /* 120 */ background: none; vertical-align: middle; border: none; display: none; position: fixed; z-index: 10001; top: 0; bottom: 0; margin: auto; }

.imagelightbox-arrow-left { left: 0; }

.imagelightbox-arrow-right { right: 15px; }

.imagelightbox-arrow:before { content: ""; position: absolute; width: 14px; height: 14px; z-index: 10; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.imagelightbox-arrow-left:before { border-left: 1px solid #000; border-top: 1px solid #000; }

.imagelightbox-arrow-right:before { border-right: 1px solid #000; border-bottom: 1px solid #000; }

#imagelightbox-loading, #imagelightbox-overlay, #imagelightbox-close, #imagelightbox-caption, #imagelightbox-nav, .imagelightbox-arrow { -webkit-animation: fade-in .25s linear; animation: fade-in .25s linear; }

@-webkit-keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }

@media only screen and (max-width: 41.25em) { #container { width: 100%; }
  #imagelightbox-close { top: 1.25em; /* 20 */ right: 1.25em; /* 20 */ }
  #imagelightbox-nav { bottom: 1.25em; /* 20 */ } }

/* ========================================================================== $BASE-PICKER ========================================================================== */
/** Note: the root picker element should *NOT* be styled more than what’s here. */
.picker { font-size: 16px; text-align: left; line-height: 1.2; color: #000; position: absolute; z-index: 10000; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/** The picker input element. */
.picker__input { cursor: default; }

/** When the picker is opened, the input element is “activated”. */
.picker__input.picker__input--active { border-color: #339F3B; }

/** The holder is the only “scrollable” top-level container element. */
.picker__holder { width: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; }

/* ========================================================================== $BASE-TIME-PICKER ========================================================================== */
/** The list of times. */
.picker__list { list-style: none; padding: 0.75em 0 4.2em; margin: 0; }

/** The times on the clock. */
.picker__list-item { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; margin-bottom: -1px; position: relative; background: #fff; padding: .75em 1.25em; }

@media (min-height: 46.75em) { .picker__list-item { padding: .5em 1em; } }

/* Hovered time */
.picker__list-item:hover { cursor: pointer; color: #fff; background: #3fc148; border-color: #339F3B; z-index: 10; }

/* Highlighted and hovered/focused time */
.picker__list-item--highlighted { border-color: #339F3B; z-index: 10; }

.picker__list-item--highlighted:hover, .picker--focused .picker__list-item--highlighted { cursor: pointer; color: #fff; background: #3fc148; }

/* Selected and hovered/focused time */
.picker__list-item--selected, .picker__list-item--selected:hover, .picker--focused .picker__list-item--selected { background: #339F3B; color: #fff; z-index: 10; }

/* Disabled time */
.picker__list-item--disabled, .picker__list-item--disabled:hover, .picker--focused .picker__list-item--disabled { background: #f5f5f5; border-color: #f5f5f5; color: #ddd; cursor: default; border-color: #ddd; z-index: auto; }

/** The clear button */
.picker--time .picker__button--clear { display: block; width: 80%; margin: 1em auto 0; padding: 1em 1.25em; background: none; border: 0; font-weight: 500; font-size: .67em; text-align: center; text-transform: uppercase; color: #666; }

.picker--time .picker__button--clear:hover, .picker--time .picker__button--clear:focus { cursor: pointer; color: #fff; background: #3fc148; background: #e20; border-color: #e20; cursor: pointer; color: #fff; outline: none; }

.picker--time .picker__button--clear:before { top: -.25em; color: #666; font-size: 1.25em; font-weight: bold; }

.picker--time .picker__button--clear:hover:before, .picker--time .picker__button--clear:focus:before { color: #fff; border-color: #fff; }

/* ========================================================================== $BASE-DATE-PICKER ========================================================================== */
/** The picker box. */
.picker__box { padding: 0 1em; }

/** The header containing the month and year stuff. */
.picker__header { text-align: center; position: relative; margin-top: .75em; }

/** The month and year labels. */
.picker__month, .picker__year { font-weight: 500; display: inline-block; margin-left: .25em; margin-right: .25em; }

.picker__year { color: #999; font-size: .8em; font-style: italic; }

/** The month and year selectors. */
.picker__select--month, .picker__select--year { border: 1px solid #b7b7b7; height: 2em; padding: .5em; margin-left: .25em; margin-right: .25em; }

@media (min-width: 24.5em) { .picker__select--month, .picker__select--year { margin-top: -.5em; } }

.picker__select--month { width: 35%; }

.picker__select--year { width: 22.5%; }

.picker__select--month:focus, .picker__select--year:focus { border-color: #339F3B; }

/** The month navigation buttons. */
.picker__nav--prev, .picker__nav--next { position: absolute; padding: .5em 1.25em; width: 1em; height: 1em; box-sizing: content-box; top: -.25em; }

@media (min-width: 24.5em) { .picker__nav--prev, .picker__nav--next { top: -.33em; } }

.picker__nav--prev { left: -1em; padding-right: 1.25em; }

@media (min-width: 24.5em) { .picker__nav--prev { padding-right: 1.5em; } }

.picker__nav--next { right: -1em; padding-left: 1.25em; }

@media (min-width: 24.5em) { .picker__nav--next { padding-left: 1.5em; } }

.picker__nav--prev:before, .picker__nav--next:before { content: " "; border-top: .5em solid transparent; border-bottom: .5em solid transparent; border-right: 0.75em solid #000; width: 0; height: 0; display: block; margin: 0 auto; }

.picker__nav--next:before { border-right: 0; border-left: 0.75em solid #000; }

.picker__nav--prev:hover, .picker__nav--next:hover { cursor: pointer; color: #fff; background: #3fc148; }

.picker__nav--disabled, .picker__nav--disabled:hover, .picker__nav--disabled:before, .picker__nav--disabled:before:hover { cursor: default; background: none; border-right-color: #f5f5f5; border-left-color: #f5f5f5; }

/** The calendar table of dates */
.picker__table { text-align: center; border-collapse: collapse; border-spacing: 0; table-layout: fixed; font-size: inherit; width: 100%; margin-top: .75em; margin-bottom: .5em; }

@media (min-height: 33.875em) { .picker__table { margin-bottom: .75em; } }

.picker__table td { margin: 0; padding: 0; }

/** The weekday labels */
.picker__weekday { width: 14.285714286%; font-size: .75em; padding-bottom: .25em; color: #999; font-weight: 500; /* Increase the spacing a tad */ }

@media (min-height: 33.875em) { .picker__weekday { padding-bottom: .5em; } }

/** The days on the calendar */
.picker__day { padding: .3125em 0; font-weight: 200; border: 1px solid transparent; }

.picker__day--today { position: relative; }

.picker__day--today:before { content: " "; position: absolute; top: 2px; right: 2px; width: 0; height: 0; border-top: 0.5em solid #27782d; border-left: .5em solid transparent; }

.picker__day--disabled:before { border-top-color: #aaa; }

.picker__day--outfocus { color: #ddd; }

.picker__day--infocus:hover, .picker__day--outfocus:hover { cursor: pointer; color: #fff; background: #3fc148; }

.picker__day--highlighted { border-color: #339F3B; }

.picker__day--highlighted:hover, .picker--focused .picker__day--highlighted { cursor: pointer; color: #fff; background: #3fc148; }

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { background: #339F3B; color: #fff; }

.picker__day--disabled, .picker__day--disabled:hover, .picker--focused .picker__day--disabled { background: #f5f5f5; border-color: #f5f5f5; color: #ddd; cursor: default; }

.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover { background: #bbb; }

/** The footer containing the "today", "clear", and "close" buttons. */
.picker__footer { text-align: center; }

.picker__button--today, .picker__button--clear, .picker__button--close { border: 1px solid #fff; background: #fff; font-size: .8em; padding: .66em 0; font-weight: bold; width: 33%; display: inline-block; vertical-align: bottom; }

.picker__button--today:hover, .picker__button--clear:hover, .picker__button--close:hover { cursor: pointer; color: #fff; background: #3fc148; border-bottom-color: #3fc148; }

.picker__button--today:focus, .picker__button--clear:focus, .picker__button--close:focus { background: #3fc148; border-color: #339F3B; outline: none; }

.picker__button--today:before, .picker__button--clear:before, .picker__button--close:before { position: relative; display: inline-block; height: 0; }

.picker__button--today:before, .picker__button--clear:before { content: " "; margin-right: .45em; }

.picker__button--today:before { top: -.05em; width: 0; border-top: 0.66em solid #27782d; border-left: .66em solid transparent; }

.picker__button--clear:before { top: -.25em; width: .66em; border-top: 3px solid #e20; }

.picker__button--close:before { content: "\D7"; top: -.1em; vertical-align: top; font-size: 1.1em; margin-right: .35em; color: #777; }

.picker__button--today[disabled], .picker__button--today[disabled]:hover { background: #f5f5f5; border-color: #f5f5f5; color: #ddd; cursor: default; }

.picker__button--today[disabled]:before { border-top-color: #aaa; }

/*! Default mobile-first, responsive styling for pickadate.js Demo: http://amsul.github.io/pickadate.js */
/** Note: the root picker element should *NOT* be styled more than what’s here. */
/** Make the holder and frame fullscreen. */
.picker__holder, .picker__frame { top: 0; bottom: 0; left: 0; right: 0; -webkit-transform: translateY(100%); transform: translateY(100%); }

/** The holder should overlay the entire screen. */
.picker__holder { position: fixed; -webkit-transition: background 0.15s ease-out, -webkit-transform 0s 0.15s; transition: background 0.15s ease-out, -webkit-transform 0s 0.15s; transition: background 0.15s ease-out, transform 0s 0.15s; transition: background 0.15s ease-out, transform 0s 0.15s, -webkit-transform 0s 0.15s; -webkit-backface-visibility: hidden; }

/** The frame that bounds the box contents of the picker. */
.picker__frame { position: absolute; margin: 0 auto; min-width: 256px; max-width: 666px; width: 100%; -ms-filter: "progid:DXImageTransform.Microsoft@include Alpha(Opacity=0);"; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; -webkit-transition: all 0.15s ease-out; transition: all 0.15s ease-out; }

@media (min-height: 33.875em) { .picker__frame { overflow: visible; top: auto; bottom: -100%; max-height: 80%; } }

@media (min-height: 40.125em) { .picker__frame { margin-bottom: 7.5%; } }

/** The wrapper sets the stage to vertically align the box contents. */
.picker__wrap { display: table; width: 100%; height: 100%; }

@media (min-height: 33.875em) { .picker__wrap { display: block; } }

/** The box contains all the picker contents. */
.picker__box { background: #fff; display: table-cell; vertical-align: middle; }

@media (min-height: 26.5em) { .picker__box { font-size: 1.25em; } }

@media (min-height: 33.875em) { .picker__box { display: block; font-size: 1.33em; border: 1px solid #777; border-top-color: #898989; border-bottom-width: 0; border-radius: 5px 5px 0 0; box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24); } }

@media (min-height: 40.125em) { .picker__box { font-size: 1.5em; border-bottom-width: 1px; border-radius: 5px; } }

/** When the picker opens... */
.picker--opened .picker__holder { -webkit-transform: translateY(0); transform: translateY(0); background: transparent; -ms-filter: "progid:DXImageTransform.Microsoft@include gradient(startColorstr=#1E000000,endColorstr=#1E000000);"; zoom: 1; background: rgba(0, 0, 0, 0.32); -webkit-transition: background 0.15s ease-out; transition: background 0.15s ease-out; }

.picker--opened .picker__frame { -webkit-transform: translateY(0); transform: translateY(0); -ms-filter: "progid:DXImageTransform.Microsoft@include Alpha(Opacity=100);"; filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1; }

@media (min-height: 33.875em) { .picker--opened .picker__frame { top: auto; bottom: 0; } }

/* ========================================================================== $DEFAULT-DATE-PICKER ========================================================================== */
/* ========================================================================== $DEFAULT-TIME-PICKER ========================================================================== */
/** The frame the bounds the time picker. */
.picker--time .picker__frame { min-width: 256px; max-width: 320px; }

/** The picker box. */
.picker--time .picker__box { font-size: 1em; background: #f2f2f2; padding: 0; }

@media (min-height: 40.125em) { .picker--time .picker__box { margin-bottom: 5em; } }

.img-width { width: 100%; height: auto; max-width: 640px; }

.commonBtn { left: 0; right: 0; bottom: 18%; margin: 0 auto 40px; width: 42%; max-width: 180px; padding-bottom: 30px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .commonBtn { margin: 0 auto 20px; } }

.commonBtn a { overflow: hidden; border-radius: 3px; padding: 15px 0; display: block; text-align: center; background: #fff; font-size: 16px; position: relative; box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.6); }

.commonBtn a::after { display: block; content: ''; position: absolute; top: 0; bottom: 0; margin: auto; right: 15px; width: 10px; height: 10px; border-right: 2px solid #439C13; border-bottom: 2px solid #439C13; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.commonTitle { height: 55px; }

.commonTitle_main { text-align: center; font-size: 140%; padding-top: 16px; }

.staticTitle { border: solid #DDDDDD; border-width: 1px 0; background: #F5F5F5; color: #929292; font-size: 160%; padding: 15px 10px; font-weight: normal; margin-top: 55px; }

.staticTitle-nomargin { margin-top: 0; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .staticTitle { font-size: 2.4rem; } }

.pageTopBtn { position: fixed; bottom: 15px; right: 15px; z-index: 10; }

.pageTopBtn a { display: inline-block; background: #000; padding: 15px; border-radius: 4px; }

.pageTopBtn a img { width: 20px; height: auto; }

.staticParts { padding: 15px 10px; }

.staticParts dt { font-size: 180%; margin-bottom: 10px; }

.staticParts dd { font-size: 110%; }

.staticContainer { padding: 0 10px 20px; margin-bottom: 15px; border-bottom: 1px solid #DDDDDD; min-height: 800px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .staticContainer { min-height: initial; } }

.staticContainer-noborder { border: none; }

.staticContainer_title { padding: 0 10px; font-size: 180%; margin-bottom: 15px; }

.staticContainer_attention { color: #4b9c4b; }

.staticContainer_list { margin: 0 0 0 30px; list-style-type: disc; font-size: 110%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .staticContainer_list { font-size: 1.5rem; } }

.staticContainer_text { margin-bottom: 30px; padding: 0 10px; }

.staticContainer_text dt { font-size: 160%; margin-bottom: 10px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .staticContainer_text dt { font-size: 2rem; } }

.staticContainer_text dd { font-size: 110%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .staticContainer_text dd { font-size: 1.5rem; } }

.basicTable { width: 100%; margin-bottom: 15px; font-size: 110%; }

.basicTable th, .basicTable td { border: 1px solid #DDDDDD; padding: 10px; }

.basicTable th { font-weight: normal; width: 20%; }

.managemenContainer { padding-top: 30px; }

.managemenContainer_list dt { font-size: 140%; margin-bottom: 5px; }

.managemenContainer_list dd { font-size: 120%; margin-bottom: 20px; }

#map { width: 100%; }

.mapBtn { display: table; width: 100%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .mapBtn { height: 54px; } }

.mapBtn_item { vertical-align: bottom; display: table-cell; position: relative; width: 50%; text-align: center; }

.mapBtn_item:before { content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.mapBtn_item:first-child { background: #47A800; }

.mapBtn_item:first-child:before { background: rgba(71, 168, 0, 0.8); }

.mapBtn_item:first-child.active:before { display: none; }

.mapBtn_item:last-child { background: #47A800; border-left: 1px solid #6FB64A; }

.mapBtn_item:last-child:before { background: rgba(71, 168, 0, 0.8); }

.mapBtn_item:last-child.active:before { display: none; }

.mapBtn_item img { width: 100%; max-width: 240px; height: auto; }

.listContainer { display: none; background: #fff; right: 0; color: #000; width: 100%; z-index: 150; overflow: hidden; }

.listContainer_over { overflow-y: auto; -webkit-overflow-scrolling: touch; }

.listContainerMain li { color: #000; border-top: 1px solid #ddd; }

.listContainerMain li:first-child { border-top: none; }

.listContainerMain a { color: #000; }

.listContainerMain a:hover { text-decoration: none; }

.listContainerMain_item { display: table; padding: 15px 10px; width: 100%; }

.listContainerMain_icon { display: table-cell; width: 40px; vertical-align: top; }

.listContainerMain_icon img { width: 30px; height: auto; }

.listContainerMain_blank { text-align: center; margin-top: 6%; }

.listContainerMain_blank img { width: 48%; height: auto; }

.listContainerMain_data { vertical-align: top; display: table-cell; position: relative; }

.listContainerMain_data-day { font-size: 1.4rem; }

.listContainerMain_data-title { font-size: 1.4rem; }

.listContainerMain_data-info { display: none; line-height: 1.4; color: #A9A9A9; font-size: 1.4rem; }

.listContainerMain_data-pic { width: 52px; height: 52px; background-size: cover; background-repeat: no-repeat; background-position: center center; position: absolute; top: 0; right: 0; border-radius: 5px; }

.changeBtn { position: absolute; text-align: center; z-index: 100; width: 60px; height: 60px; background: #2955E9; box-shadow: inset 0px -5px 3px 0px rgba(0, 0, 0, 0.1); }

.changeBtn img { position: relative; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 30px; height: auto; }

.changeBtn-layer { left: 0; border-radius: 0 10px 0 0; }

.changeBtn-position { right: 0; border-radius: 10px 0 0 0; }

.topHead { position: relative; }

.topHead_btn { position: absolute; left: 0; right: 0; bottom: 18%; margin: auto; width: 42%; max-width: 180px; }

.topHead_btn a { background: #3AAA00; background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #3C9D00), color-stop(0, #3AAA00)); background: -webkit-linear-gradient(#3AAA00, #3C9D00); background: linear-gradient(#3AAA00, #3C9D00); color: #fff; border-radius: 3px; padding: 15px 0; display: block; text-align: center; font-size: 16px; position: relative; box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }

.topHead_btn a::after { display: block; content: ''; position: absolute; top: 0; bottom: 0; margin: auto; right: 15px; width: 10px; height: 10px; border-right: 2px solid #fff; border-bottom: 2px solid #fff; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.topHead_howto { text-align: center; position: absolute; bottom: 5%; width: 100%; }

.topHead_howto a { color: #fff; font-size: 15px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .topHead_howto a:hover { text-decoration: none; } }

.topHead_howto img { width: 15px; height: 15px; margin: 0 0 0 5px; }

.topHead_logo { position: absolute; width: 90%; top: 22%; left: 0; right: 0; margin: auto; z-index: 30; }

.topSection { margin: 0 0 25px; overflow: hidden; }

.topSection_item { width: 33.2%; float: left; text-align: center; padding: 10px 0 0; }

.topSection_item img { width: 80px; height: auto; }

.topSection_icon { margin: 0; display: table; height: 100px; vertical-align: middle; width: 100%; }

.topSection_icon span { display: table-cell; vertical-align: middle; text-align: center; }

.topSection_comment { font-size: 14px; line-height: 1.2; }

.iconInfoContainer { color: #929292; padding-bottom: 70px; min-height: 800px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .iconInfoContainer { min-height: 450px; } }

.iconInfoContainer_item { padding: 35px 0 0 15px; margin-bottom: 10px; }

.iconInfoContainer_headtext { padding: 15px 0 0 15px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .iconInfoContainer_headtext { font-size: 1.3rem; } }

.iconInfoContainer_inner { display: table; width: 100%; margin-bottom: 14px; position: relative; }

.iconInfoContainer_inner:after { display: none; content: ""; width: 14px; height: 14px; border: solid #929292; border-width: 0 0 1px 1px; position: absolute; top: 0; bottom: 0; right: 5px; margin: auto; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }

.iconInfoContainer_inner.active:after { -webkit-transform: rotate(135deg); transform: rotate(135deg); }

.iconInfoContainer_icon, .iconInfoContainer_title { display: table-cell; vertical-align: middle; }

.iconInfoContainer_icon { width: 35px; }

.iconInfoContainer_icon img { width: 100%; height: auto; }

.iconInfoContainer_title { padding: 0 30px 0 10px; font-size: 1.6rem; }

.iconInfoContainer_exp { display: none; font-size: 1.6rem; padding-bottom: 10px; line-height: 1.6; }

.helpContainer { padding: 10px; }

.helpContainer_item { border: 1px solid #DDDDDD; margin-bottom: 25px; }

.helpContainer_title { padding: 0 5px 5px; margin-bottom: 10px; font-size: 140%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .helpContainer_title { font-size: 2.2rem; } }

.helpContainer_list dt { background: #fff; border: solid #DDDDDD; border-width: 1px 0; font-size: 120%; font-weight: bold; padding: 10px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .helpContainer_list dt { font-size: 1.6rem; } }

.helpContainer_list dt:first-child { border-top: none; }

.helpContainer_list dd { padding: 10px 10px 10px; background: #fff; word-break: break-all; font-size: 110%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .helpContainer_list dd { font-size: 1.5rem; } }

.helpContainer_list a { text-decoration: underline; }

.helpContainer_list a:hover { text-decoration: none; }

.reportContainer_data { font-size: 120%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportContainer_data { font-size: 1.8rem; } }

.reportContainer-hissu { display: inline-block; background: #F02C2B; padding: 2px 7px 0; font-size: 13px; margin: 0 5px 5px 0; vertical-align: 3px; border-radius: 4px; color: #fff; }

.reportContainer_title { padding: 15px; border-bottom: 1px solid #DDDDDD; }

.reportContainer_title input { width: 100%; -webkit-appearance: none; border: 1px solid #C3C3C3; font-size: 17px; padding: 10px; border-radius: 3px; background: #fff; line-height: 1.3; }

.reportContainer_title-main { font-size: 180%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportContainer_title-main { font-size: 2rem; } }

.reportContainer_pic { text-align: center; margin-bottom: 10px; }

.reportContainer_pic img { width: 100%; height: auto; border-radius: 5px; }

.reportContainer_mapcontainer { padding: 30px 15px; border-bottom: 1px solid #DDDDDD; }

.reportContainer_mapcontainer-btn { width: 60%; margin: 0 auto 5px; }

.reportContainer_mapcontainer-btn a { display: block; background: #000; color: #fff; font-size: 1.6rem; padding: 12px 0; border-radius: 5px; text-align: center; }

.reportContainer_mapMain { width: 100%; height: 100px; margin-bottom: 20px; }

.reportContainer_mapMain img { width: 100%; height: auto; }

.reportContainer_pin { padding: 20px 15px 10px; border-bottom: 1px solid #DDDDDD; margin-bottom: 20px; }

.reportContainer_pin-title { font-size: 180%; margin-bottom: 10px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportContainer_pin-title { font-size: 2rem; } }

.reportContainer_pin-select { position: relative; margin-bottom: 25px; }

.reportContainer_pin-select span { display: block; z-index: 100; content: "▼"; position: absolute; width: 20px; height: 12px; color: #9C9C9C; top: 0; bottom: 0; right: 10px; margin: auto; font-size: 13px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportContainer_pin-select span { font-size: 1rem; } }

.reportContainer_pin-select select { width: 100%; padding: 10px; -webkit-appearance: button; -moz-appearance: button; appearance: button; border: 1px solid #DDDDDD; font-size: 17px; background: #fff; }

.reportContainer_pin-select-border { border-bottom: 1px solid #DDDDDD; padding-bottom: 10px; margin-bottom: 20px; }

.reportContainer_pin-img { display: inline-block; margin: 0 5px 10px 0; }

.reportContainer_pin-img img { width: 40px; height: auto; display: inline-block; margin: 0 10px 0 0; }

.reportContainer_subpin { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.reportContainer_subpin-item { width: 49%; margin-bottom: 10px; padding: 15px 5px 15px 10px; font-size: 17px; display: block; border: 1px solid #DDDDDD; border-radius: 5px; position: relative; background: #fff; }

.reportContainer_subpin-item input[type="checkbox"] { opacity: 0; position: absolute; }

.reportContainer_subpin-on { border: 1px solid #5FB74F; background: #E9F2E1; color: #5FB74F; }

.reportContainer_subpin-on::after { display: block; content: ''; position: absolute; top: 0; bottom: 0; margin: auto; right: 10px; width: 15px; height: 10px; border-left: 3px solid #5FB74F; border-bottom: 3px solid #5FB74F; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.reportContainer_detail { font-size: 17px; padding: 0px 15px 10px; border-bottom: 1px solid #DDDDDD; }

.reportContainer_detail textarea { width: 100%; padding: 10px; height: 300px; border: 1px solid #DDDDDD; -webkit-appearance: none; font-size: 17px; border-radius: 4px; }

.reportContainer_submit { width: 60%; margin: 0 auto; padding: 20px 0 30px; }

.reportContainer_submit input { width: 100%; background: #60B651; color: #fff; -webkit-appearance: none; border: none; font-size: 17px; padding: 15px 0; border-radius: 5px; }

.reportContainer_nextBtn { text-align: center; margin-bottom: 80px; padding-top: 20px; }

.reportContainer_nextBtn a { display: inline-block; width: 80%; padding: 15px 10px; background: #339F3B; color: #fff; border-radius: 4px; position: relative; font-size: 120%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportContainer_nextBtn a { font-size: 2rem; } }

.reportContainer_nextBtn a:after { content: ""; width: 12px; height: 12px; position: absolute; border: solid #fff; border-width: 0 2px 2px 0; position: absolute; right: 14px; top: 0; bottom: 0; margin: auto; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.reportContainerTime { padding: 20px 15px; border-bottom: 1px solid #DDDDDD; }

.reportContainerTime_title { font-size: 180%; margin-bottom: 5px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportContainerTime_title { font-size: 2rem; } }

.reportContainerTime_select input[type=text] { width: 100%; padding: 10px; font-size: 17px; -webkit-appearance: none; border: 1px solid #DDDDDD; border-radius: 4px; }

.reportContainerTime_select-data { font-size: 17px; }

.reportContainerTime_select-main { display: inline-block; position: relative; }

.reportContainerTime_select-main span { position: absolute; height: 15px; color: #9C9C9C; top: 0; bottom: 0; right: 7px; margin: auto; font-size: 11px; }

.reportContainerTime_select-text { display: inline-block; }

.reportContainerTime_select .picker__select--year, .reportContainerTime_select .picker__select--month { width: auto; }

.reportContainerTime_select .picker--time .picker__button--clear { font-size: 17px; }

.reportContainerTime_select select { font-size: 17px; border-radius: 4px; padding: 10px 15px; background: #fff; border: 1px solid #ddd; height: 48px; min-width: 120px; }

.reportContainerTime_select-01 { margin-bottom: 10px; }

.changePinContainer { position: relative; }

.changePinContainer_main { text-align: center; padding: 15px 0 0; margin: 0 15px 15px; }

.changePinContainer_controller { padding: 0 10px 10px; margin-bottom: 20px; overflow: hidden; position: relative; text-align: center; }

.changePinContainer_controller-btn01 { display: inline-block; font-size: 15px; padding: 10px 0; border-radius: 5px; text-align: center; width: 31%; background: #8C8C8C; color: #fff; cursor: pointer; height: 45px; }

.changePinContainer_controller-btn02 { display: inline-block; width: 33%; vertical-align: top; font-size: 15px; }

.changePinContainer_controller-btn02 input { height: 45px; vertical-align: top; font-size: 15px; padding: 10px 0; width: 100%; border-radius: 5px; text-align: center; background: #339F3B; color: #fff; cursor: pointer; border: none; -webkit-appearance: none; }

.changePinContainer_controller-btn03 { height: 45px; display: inline-block; font-size: 15px; padding: 10px 0; border-radius: 5px; text-align: center; width: 31%; background: #8C8C8C; color: #fff; cursor: pointer; }

.reportPnkz { border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; font-size: 130%; background: #FAFAFA; display: table; width: 100%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportPnkz { font-size: 1.4rem; } }

.reportPnkz_item { display: table-cell; padding: 10px 10px; background: #FAFAFA; position: relative; text-align: center; }

.reportPnkz_item:after { content: ""; position: absolute; width: 15px; height: 100%; display: block; background: url("/cmn/img/common/bg_pnkz_base.png") no-repeat center center; background-size: cover; top: 0; right: 0; }

.reportPnkz_item-active { background: #8B8B8B; color: #fff; }

.reportPnkz_item-active:after { background: url("/cmn/img/common/bg_pnkz.png") no-repeat center center; background-size: cover; }

.reportPnkz_item-active-02:before { content: ""; position: absolute; width: 15px; height: 100%; display: block; background: url("/cmn/img/common/bg_pnkz_02.png") no-repeat center center; background-size: cover; top: 0; left: 0; }

.reportPnkz_item-active-03 { background: #8B8B8B; color: #fff; }

.reportPnkz_item-active-03:after { display: none; }

.reportPnkz_item-noarrow:after { display: none; }

.areaInputBox { position: absolute; top: 55px; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.99); padding: 15px 10px 0; display: none; }

.areaInputBox input[type=text] { width: 100%; padding: 10px; font-size: 17px; -webkit-appearance: none; border: 1px solid #DDDDDD; border-radius: 4px; margin-bottom: 20px; cursor: pointer; }

.areaInputBox_error { display: none; color: #F02C2B; border: 1px solid #F02C2B; padding: 10px; margin-bottom: 10px; font-size: 14px; }

.areaInputBox_btn { overflow: hidden; }

.areaInputBox_btn-01 { font-size: 1.6rem; float: left; padding: 10px 0; border-radius: 5px; text-align: center; width: 35%; background: #8C8C8C; color: #fff; cursor: pointer; }

.areaInputBox_btn-02 { font-size: 1.6rem; float: right; width: 62%; background: #339F3B; padding: 10px 0; border-radius: 5px; text-align: center; color: #fff; cursor: pointer; }

.confirmMapContainer { padding: 10px 15px; }

.youtubeContainer { padding: 0 15px; margin-bottom: 20px; }

.youtubeContainer_inner { position: relative; width: 100%; padding-top: 56.25%; }

.youtubeContainer iframe { position: absolute; top: 0; right: 0; width: 100% !important; height: 100% !important; }

.reportBtnContainer { overflow: hidden; padding: 15px; }

.reportBtnContainer-minhight { min-height: 200px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportBtnContainer-minhight { min-height: initial; } }

.reportBtnContainer-minhight02 { min-height: 400px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportBtnContainer-minhight02 { min-height: initial; } }

.reportBtnContainer-marginTop { margin-top: 20px; }

.reportBtnContainer-marginBtm { min-height: 200px; }

.reportBtnContainer-height { min-height: 500px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportBtnContainer-height { min-height: 240px; } }

.reportBtnContainer_item a { text-align: center; display: block; font-size: 17px; padding: 15px 0; border-radius: 4px; }

.reportBtnContainer_item a:hover { text-decoration: none; }

.reportBtnContainer_item-01 { width: 28%; float: left; }

.reportBtnContainer_item-01 a { color: #333; background: #eee; cursor: pointer; }

.reportBtnContainer_item-02 { float: right; width: 70%; }

.reportBtnContainer_item-02 a { background: #339F3B; color: #fff; cursor: pointer; }

.reportBtnContainer_item-03 { margin-bottom: 25px; }

.reportBtnContainer_item-03 input { width: 100%; background: #60B651; color: #fff; -webkit-appearance: none; border: none; font-size: 20px; padding: 25px 0; border-radius: 4px; cursor: pointer; }

.reportBtnContainer_item-04 a { display: block; background: #8B8B8B; color: #fff; cursor: pointer; }

.reportUpcontainer { padding: 20px 15px; border-bottom: 1px solid #DDDDDD; }

.reportUpcontainer_btnBox { position: relative; width: 60%; text-align: center; padding: 10px 0 0; font-size: 140%; margin: 0 auto 20px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportUpcontainer_btnBox { font-size: 1.8rem; } }

.reportUpcontainer_btnBox-file { position: absolute; top: 0; right: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer; }

.reportUpcontainer_btnBox-btn { -webkit-appearance: none; background: #000; color: #fff; border: none; cursor: pointer; padding: 12px 0; border-radius: 5px; width: 100%; font-size: 120%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportUpcontainer_btnBox-btn { font-size: 1.8rem; } }

.reportUpcontainer_picBox img { width: 100%; height: auto; display: inline-block; margin-bottom: 10px; }

.reportUpcontainer_picBox-delBtn { border-bottom: 1px solid #DDDDDD; text-align: center; padding-bottom: 20px; margin-bottom: 20px; }

.reportUpcontainer_picBox-delBtn:last-child { border-bottom: none; }

.reportUpcontainer_picBox-delBtn span { background: #ddd; display: inline-block; border-radius: 4px; font-size: 15px; text-align: center; padding: 5px 15px; cursor: pointer; }

.errorContainer { padding: 10px; }

.errorContainer-mb { margin-top: -10px; margin-bottom: 15px; }

.errorContainer_list { border: 2px solid #F02C2B; margin-top: 10px; padding: 10px; color: #F02C2B; font-size: 16px; }

.finishTitle { text-align: center; font-size: 180%; padding-top: 20px; margin-bottom: 10px; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .finishTitle { font-size: 2.2rem; } }

.finishMain { padding: 15px; font-size: 120%; text-align: center; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .finishMain { font-size: 1.8rem; } }

.reportStatus { text-align: center; color: #339F3B; border: 1px solid #DDDDDD; margin: 10px 10px 20px; padding: 15px 0; font-weight: bold; border-radius: 3px; font-size: 190%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .reportStatus { font-size: 2.5rem; } }

.reportStatus-ok { color: #000; }

.detailNavi { display: table; margin-top: 55px; width: 100%; border-collapse: collapse; border-spacing: 0; }

.detailNavi a { color: #000; }

.detailNavi a:hover { text-decoration: none; }

.detailNavi_item { display: table-cell; border: 1px solid #DDDDDD; text-align: center; font-size: 1.4rem; padding: 15px 0 20px; width: 15%; position: relative; }

.detailNavi_item-width { width: 30%; }

.detailNavi_item:after { position: absolute; display: block; content: ""; width: 10px; height: 10px; z-index: 10; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; bottom: 10px; right: 0; left: 0; margin: auto; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.detailMainV { background-size: cover; background-repeat: no-repeat; background-position: center center; width: 100%; height: 250px; position: relative; margin-bottom: 20px; }

.detailMainV-nophoto:before { content: ""; width: 100%; height: 100%; background: -webkit-linear-gradient(bottom, #555557, black 100%); background: linear-gradient(0deg, #555557, black 100%); position: absolute; top: 0; left: 0; }

.detailMainV_data { position: absolute; top: 10px; left: 10px; color: #fff; }

.detailMainV_data-day { font-size: 2.6rem; }

.detailMainV_data-year { color: #B1B1B1; }

.detailMainV_data-area { margin-top: -5px; font-size: 1.5rem; display: block; color: #929292; }

.detailMainV_icon { position: absolute; right: 10px; bottom: 10px; }

.detailMainV_icon img { width: 24px; height: auto; }

.detailPic { padding: 0 10px; margin: 0 0 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.detailPic_item { margin: 0 5px; width: 150px; height: 94px; overflow: hidden; border-radius: 5px; }

.detailPic_item img { width: 100%; height: auto; border-radius: 5px; }

.detailPic_item a { display: block; }

.detailIconContainer { background: #F5F5F5; border: solid #DDDDDD; border-width: 1px 0; padding: 10px; margin: 0 0 20px; position: relative; }

.detailIconContainer:after { content: ""; display: table; clear: both; }

.detailIconContainer_target { clear: both; width: 100%; margin: 0 auto; background: #000; border-radius: 4px; color: #fff; padding: 10px; display: none; font-size: 1.4rem; }

.detailIconContainer_item { position: relative; text-align: center; cursor: pointer; width: 20%; float: left; padding: 10px 0; }

.detailIconContainer_item img { width: 100%; max-width: 40px; height: auto; }

.detailIconContainer_item.active { background: #E8E8E8; }

.detailIconContainer_item.active:after { content: ""; display: block; border: 6px solid transparent; border-bottom: 10px solid #000; position: absolute; z-index: 5; bottom: 0px; left: 0; width: 12px; right: 0; left: 0; margin: auto; }

.detailMain { padding: 0 10px 50px; }

.detailMain_list dt { font-size: 2.8rem; font-weight: normal; margin: 0 0 15px; color: #909090; }

.detailMain_list dd { font-size: 1.6rem; line-height: 1.7; }

.detailMovie { padding: 0 15px; margin-bottom: 20px; }

.detailMovie_inner { position: relative; width: 100%; padding-top: 56.25%; }

.detailMovie iframe { position: absolute; top: 0; right: 0; width: 100% !important; height: 100% !important; }

.detiilMap { margin-bottom: 20px; padding: 0 15px; position: relative; }

.detiilMap_main { width: 100%; height: 240px; }

.detiilMap_over { width: 100%; height: 240px; position: absolute; display: block; background: url("/cmn/img/mapdetail/spacer.gif") repeat; top: 0; z-index: 999999; }

.detailStreetView { margin: 0 0 20px; padding: 0 15px; }

.detailStreetView img { width: 100%; height: auto; }

.detailStreetView_item { position: relative; display: block; }

.detailStreetView a { color: #929292; text-align: center; }

.detailStreetView_btn { border-radius: 3px; font-size: 130%; padding: 11px 0; position: absolute; width: 90%; max-width: 300px; height: 48px; background: rgba(255, 255, 255, 0.9); left: 0; right: 0; top: 0; bottom: 0; margin: auto; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .detailStreetView_btn { font-size: 1.4rem; padding: 14px 0; } }

.detailStreetView_btn::after { display: block; content: ''; position: absolute; top: 0; bottom: 0; margin: auto; right: 15px; width: 10px; height: 10px; border-right: 1px solid #929292; border-bottom: 1px solid #929292; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.backBtn { position: absolute; top: 13px; left: 8px; width: 30px; height: 30px; }

.backBtn a { width: 30px; height: 30px; display: block; }

.backBtn a::after { display: block; content: ''; position: absolute; top: 0; bottom: 0; left: 10px; margin: auto; width: 16px; height: 16px; border-right: 2px solid #929292; border-bottom: 2px solid #929292; -webkit-transform: rotate(135deg); transform: rotate(135deg); }

.streetViewMain { margin-top: 55px; }

.streetViewMain_inner { width: 100%; }

.conceptPic img { width: 100%; height: auto; }

.conceptText { padding: 10px 15px 20px; font-size: 110%; }

@media (min-device-width: 0px) and (max-device-width: 767px) { .conceptText { font-size: 1.6rem; } }

/*# sourceMappingURL=style.css.map */
