
.layerContainer{
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  // left: 0;
  z-index: 1000;
  transition: left .3s ;
  transition-timing-function: cubic-bezier(.52,.47,0,.98);

  .layerBg{
    top: 0;
    left: 0;
    background: rgba($sub-theme-color-blue,0.7);
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(.52,.47,0,.98);
  }
  &_main{
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 78%;
    z-index: 190;
    padding-bottom: 30px;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.52,.47,0,.98);
  }
  &.is-open{
    left: 0;
  }
  &_inner{
    overflow-y: auto;
    width: 100%;
    padding-bottom: 50px;
  }
  &_over{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  &_close{
    background: #fff;
    position: absolute;
    width: 55px;
    height: 55px;
    z-index: 800;
    top: 5px;
    right: -55px;
    margin: auto 0;
    border-radius: 0px 5px 5px 0;
    &::after{
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      margin: auto;
      width: 16px;
      height: 16px;
      border-right: 2px solid $sub-theme-color-blue;
      border-bottom: 2px solid $sub-theme-color-blue;
      transform: rotate(135deg);
    }

  }
}

.layerContainerList{
  dt{
    padding: 10px 0 10px 10px;
    color: $sub-theme-color-blue;
    font-size: 2rem;
  }
  dd{
    li{
      border-top: 1px solid $default-boder-color;
      &:last-child{
        border-bottom: 1px solid $default-boder-color;
      }
      label{
        padding: 10px 0 10px 20px;
        display: block;
      }
      input{
        -moz-transform-origin: right bottom;
        -moz-transform: scale( 1.5 , 1.5 );
        -webkit-transform-origin: right bottom;
        -webkit-transform: scale( 1.5 , 1.5 );
      }
    }
  }
}

