
.marker-cluster-small {
  background-color: rgba(#B33749, 1);
}

.marker-cluster-small div {
  // background-color: rgba(110, 204, 57, 0.6);
  background-color: rgba(#B33749, 1);
}

.marker-cluster-medium {
  // background-color: rgba(241, 211, 87, 0.6);
  background-color: rgba(#B33749, 1);
}

.marker-cluster-medium div {
  // background-color: rgba(240, 194, 12, 0.6);
  background-color: rgba(#B33749, 1);
}

.marker-cluster-large {
  background-color: rgba(#FE1E30, 1);
  width: 69px!important;
  height: 69px!important;
  border-radius: 50%!important;
  margin-left: -38px!important;
  margin-top: -38px!important;
}
.marker-cluster-large div {
  background-color: rgba(#FE1E30, 1);
  width: 69px!important;
  height: 69px!important;
  margin-left: 0px!important;
  margin-top: 0px!important;
  border-radius: 50%!important;
  }

.marker-cluster-large span {
  line-height: 68px!important;
  font-size: 22px;
}

/* IE 6-8 fallback colors */
// .leaflet-oldie .marker-cluster-small {
// background-color: rgb(181, 226, 140);
// }
// .leaflet-oldie .marker-cluster-small div {
// background-color: rgb(110, 204, 57);
// }

// .leaflet-oldie .marker-cluster-medium {
// background-color: rgb(241, 211, 87);
// }
// .leaflet-oldie .marker-cluster-medium div {
// background-color: rgb(240, 194, 12);
// }

// .leaflet-oldie .marker-cluster-large {
//   background-color: rgba(#FE1E30, 1);
// }
// .leaflet-oldie .marker-cluster-large div {
//   background-color: rgba(#FE1E30, 1);
// }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 17px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #fff;
}
.marker-cluster span {
  line-height: 30px;
}

