
.mapPopUp{
  &_inner{
    overflow: hidden;
    margin-bottom: 3px;
  }
  &_text{
    font-size: 1.3rem;
    margin-right: 75px;
  }
  &_pic{
    float: right;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
  }
  &_day{
    font-size: 1.6rem;
    margin: 0 0 3px;
    color: #626262;
  }
  &_more{
    a{
      display: inline-block;
      border: 1px solid $default-boder-color;
      color: #A6AAA5;
      border-radius:3px;
      padding: 8px 20px;
      font-size: 1.3rem;
    }
  }
}


/* popup */

.leaflet-popup {
  position: absolute;
  text-align: center;
  }
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 5px;
  }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 8px;
  right: 10px;
  padding: 0;
  text-align: center;
  width: 22px;
  height: 22px;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: normal;
  text-indent: -9999px;
  z-index: 1000;
  &:before,
  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 20px;
    background: #111;
  }
  &:before{
    top: 0;
    right: 5px;
    transform: rotate(-45deg);
  }
  &:after{
    top: 0;
    right: 5px;
    transform: rotate(45deg);
  }
}

.leaflet-popup-content{
  margin: 16px 30px 16px 10px;
}
